{{define "Home"}}<html><body>Home Page</body></html>{{end}}
{{define "Countries/Random"}}<html><body>Random Countries</body></html>{{end}}
{{define "Countries/All"}}<html><body>All Countries</body></html>{{end}}
{{define "Auth/Login"}}<html><body>Login</body></html>{{end}}
{{define "Auth/Register"}}<html><body>Register</body></html>{{end}}
{{define "Auth/Profile"}}<html><body>Profile</body></html>{{end}}